<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" translate="T_ACCOUNTS_CHANGEPASSWORD"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChange()" translate="T_ACCOUNTS_BTN_CLOSE"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doChange()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_OLDPASSWORD"></span>
          <input type="password" ng-model="loginData.password0" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_NEWPASSWORD"></span>
          <input type="password" ng-model="loginData.password1" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_VERIFYPASSWORD"></span>
          <input type="password" ng-model="loginData.password2" ng-requried="true">
        </label>
        <label class="item">
          <button ng-disabled="(!loginData.password0) || (!loginData.password1) || (loginData.password1 != loginData.password2) || (loginData.password0 == loginData.password1)" class="button button-block button-positive" type="submit" translate="T_ACCOUNTS_BTN_CHANGE"></button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar ng-class="classFooterbar" ng-show="showFooterbar">
    <div class="title" translate="T_ACCOUNTS_MSG_CHANGEFINISH" ng-if="finishChange"></div>
    <div class="title" translate="T_ACCOUNTS_ERR_CHANGE" ng-if="invalidChange"></div>
  </ion-footbar-bar>
</ion-modal-view>
