<ion-view>
  <ion-nav-title translate="T_ACCOUNTS_LOGIN"></ion-nav-title>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_USERNAME"></span>
          <input type="text" ng-model="loginData.username">
          <span class="input-label">{{mailsuffix}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_PASSWORD"></span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="!loginData.username || !loginData.password" translate="T_ACCOUNTS_BTN_LOGIN"></button>
        </label>
        <label class="item">
          <button class="button button-block button-energized" type="button" ng-disabled="!loginData.username" ng-click="forgot()" translate="T_ACCOUNTS_BTN_FORGOT"></button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar ng-class="classFooterbar" ng-show="showFooterbar">
    <div class="title" translate="T_ACCOUNTS_ERR_LOGIN" ng-if="invalidLogin"></div>
    <div class="title" translate="T_ACCOUNTS_ERR_FORGOT" ng-if="invalidForgot"></div>
    <div class="title" translate="T_ACCOUNTS_MSG_FORGOTFINISH" ng-if="finishForgot"></div>
  </ion-footbar-bar>
</ion-view>
