<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="register()" ng-if="!user">
          <span translate="T_ACCOUNTS_REGISTER"></span>
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-if="!user">
          <span translate="T_ACCOUNTS_LOGIN"></span>
        </ion-item>
        <ion-item menu-close href="#/account/resetpassword//" ng-if="!user">
          <span translate="T_ACCOUNTS_RESETPASSWORD"></span>
        </ion-item>
        <ion-item menu-close href="#/account/userprofile/{{user._id}}" ng-if="user">
          {{user.last_name}} {{user.first_name}}
        </ion-item>
        <ion-item menu-close ng-if="user && user.permission.indexOf('admin')>=0" href="#/account/useradmin">
          <span translate="T_ACCOUNTS_USERADMIN"></span><i class="icon ion-person-add" style="color:rgb(255,0,0);" ng-if="applyflag"></i>
        </ion-item>
        <ion-item menu-close href="#/account/search">
          T.B.D
        </ion-item>
        <ion-item menu-close ng-click="changepassword()" ng-if="user">
          <span translate="T_ACCOUNTS_CHANGEPASSWORD"></span>
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-if="user">
          <span translate="T_ACCOUNTS_LOGOUT"></span>
        </ion-item>
        <ion-item menu-close ng-click="switchLang('en')">
          English
        </ion-item>
        <ion-item menu-close ng-click="switchLang('cn')">
          中文
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
