<ion-view view-title="Reset Password">
  <ion-content>
    <form ng-submit="doReset()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="credentials.username">
          <span class="input-label">{{mailsuffix}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">ResetCode</span>
          <input type="text" ng-model="credentials.resetcode">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Password2</span>
          <input type="password" ng-model="credentials.password2" ng-requried="true">
        </label>
        <label class="item">
          <button ng-disabled="(!credentials.password) || (credentials.password != credentials.password2)" class="button button-block button-positive" type="submit">Reset</button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-balanced" ng-show="finishReset">
    <div class="title">Reset Finished</div>
  </ion-footbar-bar>
</ion-view>
