<ion-view>
  <ion-nav-title translate="T_ACCOUNTS_USERADMIN"></ion-nav-title>
  <ion-content>
    <div class="list card" ng-if="currentIdx == 0">
      <div class="item row" ng-repeat="user in users track by $index" ng-if="user.valid">
        <a class="col" ui-sref="account.userprofile({id:user._id})">{{user.email|stripMail}}</a>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <permission-view permission="{{user.permission}}"></permission-view>
        </div>
        <a class="col" ng-click="reset(user.email);" translate="T_ACCOUNTS_RESETPASSWORD"></a>
      </div>
    </div>
    <div class="list card" ng-if="currentIdx == 1">
      <div class="item row" ng-repeat="user in users track by $index" ng-if="!user.valid">
        <a class="col" ui-sref="account.userprofile({id:user._id})">{{user.email|stripMail}}</a>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <permission-view permission="{{user.permission}}"></permission-view>
        </div>
      </div>
    </div>
    <div class="list card" ng-if="currentIdx == 2">
      <div class="item row" ng-repeat="user in appusers track by $index">
        <span class="col">{{user.email|stripMail}}</span>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <a ng-click="allow(user._id);">
            <i class="icon ion-checkmark-round" translate="T_ACCOUNTS_ACCEPT"></i>
          </a>
          <a ng-click="deny(user._id);">
            <i class="icon ion-close-round" translate="T_ACCOUNTS_REJECT"></i>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons row">
      <button class="button button-assertive {{currentIdx == 2?'button-outline':''}} col" ng-click="currentIdx = 2;">
        <span translate="T_ACCOUNTS_APPLYUSER"></span>
      </button>
      <button class="button button-balanced {{currentIdx == 0?'button-outline':''}} col" ng-click="currentIdx = 0;">
        <span translate="T_ACCOUNTS_VALIDUSER"></span>
      </button>
      <button class="button button-dark {{currentIdx == 1?'button-outline':''}} col" ng-click="currentIdx = 1;">
        <span translate="T_ACCOUNTS_INVALIDUSER"></span>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
