<ion-view>
  <ion-nav-title translate="T_ACCOUNTS_USERPROFILE"></ion-nav-title>
  <ion-content>
    <form ng-submit="doUpdate()" name="profileForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_USERNAME"></span>
          <input type="text" ng-model="username" readonly="true">
          <span class="input-label">{{mailsuffix}}</span>
        </label>
        <label class="item item-toggle" ng-if="permission.admin">
          <span translate="T_ACCOUNTS_VALID"></span>
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="puser.valid">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_LASTNAME"></span>
          <input type="text" ng-model="puser.last_name">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_FIRSTNAME"></span>
          <input type="text" ng-model="puser.first_name">
        </label>
        <label class="item item-select">
          <span translate="T_ACCOUNTS_GENDER"></span>
          <select ng-model="puser.gender">
            <option value="male" translate="T_ACCOUNTS_GENDER_MALE"></option>
            <option value="female" translate="T_ACCOUNTS_GENDER_FEMALE"></option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_ACCOUNTS_WORKID"></span>
          <input type="text" ng-model="puser.workid">
        </label>
        <permission-edit permission="{{puser.permission}}" editable="{{permission.admin}}" updater="updatePermission(args)"></permission-edit>
        <label class="item">
          <button ng-disabled="!profileForm.$dirty" class="button button-block button-positive" type="submit" translate="T_ACCOUNTS_BTN_UPDATE"></button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar ng-class="classFooterbar" ng-show="showFooterbar">
    <div class="title" translate="T_ACCOUNTS_ERR_PROFILE" ng-if="invalidProfile"></div>
    <div class="title" translate="T_ACCOUNTS_MSG_PROFILEFINISH" ng-if="finishProfile"></div>
  </ion-footbar-bar>
</ion-view>

