<ion-view>
  <ion-nav-title translate="T_ACCOUNTS_USERADMIN"></ion-nav-title>
  <ion-content>
    <div class="list card" ng-if="currentIdx == 0">
      <div class="item row" ng-repeat="user in users track by $index" ng-if="user.valid">
        <a class="col" ui-sref="account.userprofile({id:user._id})">{{user.email|stripMail}}</a>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <permission-view permission="{{user.permission}}"></permission-view>
        </div>
        <a class="col" ng-click="reset(user.email);" translate="T_ACCOUNTS_RESETPASSWORD"></a>
      </div>
    </div>
    <div class="list card" ng-if="currentIdx == 1">
      <div class="item row" ng-repeat="user in users track by $index" ng-if="!user.valid">
        <a class="col" ui-sref="account.userprofile({id:user._id})">{{user.email|stripMail}}</a>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <permission-view permission="{{user.permission}}"></permission-view>
        </div>
      </div>
    </div>
    <div class="list card" ng-if="currentIdx == 2">
      <div class="item row" ng-repeat="user in appusers track by $index">
        <span class="col">{{user.email|stripMail}}</span>
        <span class="col">{{user.last_name}} {{user.first_name}}</span>
        <div class="col">
          <a ng-click="allow(user._id);">
            <i class="icon ion-checkmark-round" translate="T_ACCOUNTS_ACCEPT"></i>
          </a>
          <a ng-click="deny(user._id);">
            <i class="icon ion-close-round" translate="T_ACCOUNTS_REJECT"></i>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
      <button class="button" ng-click="prevTab();">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title" ng-if="currentIdx == 0" translate="T_ACCOUNTS_VALIDUSER"></h1>
    <h1 class="title" ng-if="currentIdx == 1" translate="T_ACCOUNTS_INVALIDUSER"></h1>
    <h1 class="title" ng-if="currentIdx == 2" translate="T_ACCOUNTS_APPLYUSER"></h1>
    <div class="buttons">
      <button class="button" ng-click="nextTab();">
        <i class="icon ion-chevron-right"></i>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
