<ion-view>
  <ion-nav-title translate="T_CALENDARS_CALENDAR"></ion-nav-title>
  <ion-content>
    <div class="buttons row">
      <button class="button col" ng-click="stepYear(-5)"><i class="icon ion-ios-rewind"></i></button>
      <button class="button col" ng-click="stepYear(-1)"><i class="icon ion-arrow-left-b"></i></button>
      <button class="button col" ng-click="stepYear(0)"><i class="icon ion-ios-clock"></i></button>
      <button class="button col" ng-click="stepYear(1)"><i class="icon ion-arrow-right-b"></i></button>
      <button class="button col" ng-click="stepYear(5)"><i class="icon ion-ios-fastforward"></i></button>
    </div>
    <calendar data-mode="view"
              data-start-day="Sun"
              data-year="{{current.year}}"
              data-month="1"
              data-columns="3"
              data-info="{{current.info}}"></calendar>
  </ion-content>
</ion-view>
