<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="1"
                data-holiday="[1]"
                data-studyday="[30]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="2"
                data-holiday="[8,9,10,11,12]"
                data-studyday="[]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="3"
                data-holiday="[]"
                data-studyday="[26]"
                data-workday="[]"
                class="col"></calendar>
    </div>
    <div class="row">
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="4"
                data-holiday="[4]"
                data-studyday="[]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="5"
                data-holiday="[2]"
                data-studyday="[28]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="6"
                data-holiday="[9,10]"
                data-studyday="[]"
                data-workday="[12]"
                class="col"></calendar>
    </div>
    <div class="row">
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="7"
                data-holiday="[]"
                data-studyday="[30]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="8"
                data-holiday="[]"
                data-studyday="[]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="9"
                data-holiday="[15,16]"
                data-studyday="[25]"
                data-workday="[18]"
                class="col"></calendar>
    </div>
    <div class="row">
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="10"
                data-holiday="[3,4,5,6,7]"
                data-studyday="[]"
                data-workday="[8,9]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="11"
                data-holiday="[]"
                data-studyday="[26]"
                data-workday="[]"
                class="col"></calendar>
      <calendar data-start-day="Sun"
                data-year="2016"
                data-month="12"
                data-holiday="[]"
                data-studyday="[]"
                data-workday="[]"
                class="col"></calendar>
    </div>
  </ion-content>
</ion-pane>
