<div class="btn-group">
  <label class="btn btn-primary" ng-model="checkModal.modify" uib-btn-checkbox>
    <span ng-if="checkModal.modify" style="color:rgb(212,106,64);" class="glyphicon glyphicon-pencil" ng-if="permission.indexOf('modify')"></span>
    <span ng-if="!checkModal.modify" class="glyphicon glyphicon-pencil" ng-if="permission.indexOf('modify')"></span>
  </label>
  <label class="btn btn-primary" ng-model="checkModal.create" uib-btn-checkbox>
    <span ng-if="checkModal.create" style="color:rgb(212,106,64);" class="glyphicon glyphicon-folder-open" ng-if="permission.indexOf('create')"></span>
    <span ng-if="!checkModal.create" class="glyphicon glyphicon-folder-open" ng-if="permission.indexOf('create')"></span>
  </label>
  <label class="btn btn-primary" ng-model="checkModal.admin" uib-btn-checkbox>
    <span ng-if="checkModal.admin" style="color:rgb(212,106,64);" class="glyphicon glyphicon-user" ng-if="permission.indexOf('admin')"></span>
    <span ng-if="!checkModal.admin" class="glyphicon glyphicon-user" ng-if="permission.indexOf('admin')"></span>
  </label>
</div>
