<uib-tabset>
  <uib-tab heading="All Users">
    <table class="table table-hover table-striped" id="usertable">
      <thead>
        <td>UserName</td>
        <td>LastName</td>
        <td>FirstName</td>
        <td>Valid</td>
        <td>Permission</td>
      </thead>
      <tbody>
        <tr ng-repeat="user in users track by $index">
          <td>{{user.email}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.valid}}</td>
          <td>{{user.permission}}</td>
        </tr>
      </tbody>
    </table>
  </uib-tab>
  <uib-tab heading="Applying Users">
    <table class="table table-hover table-striped" id="appusertable">
      <thead>
        <td>UserName</td>
        <td>LastName</td>
        <td>FirstName</td>
        <td>Action</td>
      </thead>
      <tbody>
        <tr ng-repeat="appuser in appusers track by $index">
          <td>{{appuser.email}}</td>
          <td>{{appuser.last_name}}</td>
          <td>{{appuser.first_name}}</td>
          <td><a href="" ng-click="allow(appuser._id);">Allow</a><a href="" ng-click="deny(appuser._id);">Deny</a></td>
        </tr>
      </tbody>
    </table>
  </uib-tab>
</uib-tabset>
