<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" translate="T_PROJECTS_CHOOSE_LEADER" ng-if="!modalData.bMultiple"></h1>
    <h1 class="title" translate="T_PROJECTS_CHOOSE_MEMBER" ng-if="modalData.bMultiple"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChooseMember()" translate="T_PROJECTS_BTN_CLOSE"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doChooseMember()">
      <div class="list">
        <ion-radio ng-repeat="user in users"
                   ng-value="user._id"
                   ng-model="modalData.selected"
                   ng-if="!modalData.bMultiple">
          {{user | fullname:' '}}
        </ion-radio>
        <ion-checkbox ng-repeat="user in users"
                      ng-model="user.checked"
                      ng-checked="user.checked"
                      ng-if="modalData.bMultiple">
          {{user | fullname:' '}}
        </ion-checkbox>
        <label class="item">
          <button class="button button-block button-positive" type="submit" translate="T_PROJECTS_BTN_CHOOSE"></button>
        </label>
        <div class="item item-divider" translate="T_PROJECTS_PERSON_SELECTED"></div>
        <div class="item" ng-repeat="user in users" ng-if="user._id == modalData.selected" ng-show="!modalData.bMultiple">
          {{user | fullname:' '}}
        </div>
        <div class="item" ng-repeat="user in users" ng-if="user.checked" ng-show="modalData.bMultiple">
          {{user | fullname:' '}}
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
