<ion-view>
  <ion-nav-title translate="T_PROJECTS_DETAIL"></ion-nav-title>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_CUSTOMER"></span>
          <input type="text" ng-model="project.customer">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_PRJNAMEC"></span>
          <input type="text" ng-model="project.name_c">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_PRJNAMEK"></span>
          <input type="text" ng-model="project.name_k">
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
