<ion-view>
  <ion-nav-title translate="T_PROJECTS_DETAIL"></ion-nav-title>
  <ion-content>
    <form ng-submit="doUpdate()" name="profileForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_NAME"></span>
          <input type="text" ng-model="project.name">
        </label>
        <label class="item item-select">
          <span class="input-label" translate="T_PROJECTS_STATUS"></span>
          <select ng-model="project.status">
            <option value="ToDo" translate="T_PROJECTS_STATUS_TODO"></option>
            <option value="Doing" translate="T_PROJECTS_STATUS_DOING"></option>
            <option value="Done" translate="T_PROJECTS_STATUS_DONE"></option>
            <option value="Cancelled" translate="T_PROJECTS_STATUS_CANCELLED"></option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_CONTENT"></span>
          <textarea rows="5" ng-model="project.content"></textarea>
        </label>
        <div class="item item-input">
          <span class="input-label" translate="T_PROJECTS_CUSTOMER"></span>
          <input type="text" value="{{project.customerid | name_customer : customers}}" readonly="true">
          <button class="button button-positive" type="button" ng-click="chooseCustomer()" translate="T_PROJECTS_BTN_CHOOSE"></button>
        </div>
        <div class="item item-input">
          <span class="input-label" translate="T_PROJECTS_LEADER"></span>
          <input type="text" value="{{project.leaderid | name_member : users}}" readonly="true">
          <button class="button button-positive" type="button" ng-click="chooseMember(false)" translate="T_PROJECTS_BTN_CHOOSE"></button>
        </div>
        <div class="item item-input">
          <span class="input-label" translate="T_PROJECTS_MEMBER"></span>
          <input type="text" value="{{project.memberid | name_member : users}}" readonly="true">
          <button class="button button-positive" type="button" ng-click="chooseMember(true)" translate="T_PROJECTS_BTN_CHOOSE"></button>
        </div>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_STARTDATE_PUBLIC"></span>
          <input type="date" ng-model="project.startdate_public">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_ENDDATE_PUBLIC"></span>
          <input type="date" ng-model="project.enddate_public">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_COST_PUBLIC"></span>
          <input type="number" ng-model="project.cost_public">
          <span class="input-label" translate="T_PROJECTS_COST_UNIT"></span>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_STARTDATE_PLAN"></span>
          <input type="date" ng-model="project.startdate_plan">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_ENDDATE_PLAN"></span>
          <input type="date" ng-model="project.enddate_plan">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_COST_PLAN"></span>
          <input type="number" ng-model="project.cost_plan">
          <span class="input-label" translate="T_PROJECTS_COST_UNIT"></span>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_STARTDATE_FACT"></span>
          <input type="date" ng-model="project.startdate_fact">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_ENDDATE_FACT"></span>
          <input type="date" ng-model="project.enddate_fact">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_COST_FACT"></span>
          <input type="number" ng-model="project.cost_fact">
          <span class="input-label" translate="T_PROJECTS_COST_UNIT"></span>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_PROJECTS_WORKPLACE"></span>
          <input type="text" ng-model="project.work_place">
        </label>
        <label class="item">
          <button ng-disabled="!profileForm.$dirty" class="button button-block button-positive" type="submit" translate="T_PROJECTS_BTN_UPDATE" ng-if="formType=='update'"></button>
          <button ng-disabled="!profileForm.$dirty" class="button button-block button-positive" type="submit" translate="T_PROJECTS_BTN_ADD" ng-if="formType=='new'"></button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar ng-class="classFooterbar" ng-show="showFooterbar">
    <div class="title" translate="T_PROJECTS_ERR_PROFILE" ng-if="invalidProfile"></div>
    <div class="title" translate="T_PROJECTS_MSG_PROFILEFINISH" ng-if="finishProfile"></div>
    <div class="title" translate="T_PROJECTS_ERR_ADD" ng-if="invalidAdd"></div>
    <div class="title" translate="T_PROJECTS_MSG_ADDFINISH" ng-if="finishAdd"></div>
  </ion-footbar-bar>
</ion-view>
