<ion-view>
  <ion-nav-title translate="T_CRMS_PROFILE_CUSTOMER"></ion-nav-title>
  <ion-content>
    <form ng-submit="doUpdate()" name="profileForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" translate="T_CRMS_CUSTOMER_LASTNAME"></span>
          <input type="text" ng-model="customer.last_name" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_CRMS_CUSTOMER_FIRSTNAME"></span>
          <input type="text" ng-model="customer.first_name">
        </label>
        <label class="item item-toggle" ng-if="permission.admin">
          <span translate="T_CRMS_CUSTOMER_VALID"></span>
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="customer.valid">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_CRMS_CUSTOMER_EMAIL"></span>
          <input type="email" ng-model="customer.email" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label" translate="T_CRMS_CUSTOMER_MEMO"></span>
          <textarea rows="5" ng-model="customer.memo"></textarea>
        </label>
        <label class="item">
          <button ng-disabled="!profileForm.$dirty || profileForm.$invalid" class="button button-block button-positive" type="submit" translate="T_CRMS_BTN_UPDATE" ng-if="formType == 'update'"></button>
          <button ng-disabled="!profileForm.$dirty || profileForm.$invalid" class="button button-block button-positive" type="submit" translate="T_CRMS_BTN_ADD" ng-if="formType == 'new'"></button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar ng-class="classFooterbar" ng-show="showFooterbar">
    <div class="title" translate="T_CRMS_ERR_CUSTOMER_PROFILE" ng-if="invalidProfile"></div>
    <div class="title" translate="T_CRMS_MSG_CUSTOMER_PROFILEFINISH" ng-if="finishProfile"></div>
    <div class="title" translate="T_CRMS_ERR_CUSTOMER_ADD" ng-if="invalidAdd"></div>
    <div class="title" translate="T_CRMS_MSG_CUSTOMER_ADDFINISH" ng-if="finishAdd"></div>
  </ion-footbar-bar>
</ion-view>

